{erl_opts, [debug_info]}.
{deps, [
 {'rabbitmq-server', ".*", {hg, "http://hg.rabbitmq.com/rabbitmq-server", "rabbitmq_v3_1_3"}, [{raw, true}]},
 {'rabbitmq-codegen', ".*", {hg, "http://hg.rabbitmq.com/rabbitmq-codegen", "rabbitmq_v3_1_3"}, [{raw, true}]},
 {'rabbitmq-erlang-client', ".*", {hg, "http://hg.rabbitmq.com/rabbitmq-erlang-client", "rabbitmq_v3_1_3"}, [{raw, true}]},
 amqp_client,
 rabbit_common
]}.
{pre_hooks, [
    %{compile, "cd $REBAR_DEPS_DIR/rabbitmq-erlang-client; make"}
    %{compile, "cd deps/rabbitmq-erlang-client; make"}
    {compile, "./compile_client.sh"},
    {compile, "./copy_libs.sh"}
]}.
